body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
  }
  
  .bg-image {
    background-image: url('../../../assets/images/keralas7.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }
  .mr{
    margin-left: 5px;
  }
  .ml{
    margin-right: 5px;
  }